# dependencies
node_modules/

# build
dist/
build/

# env
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# test
coverage/

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal
